body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 40px;
    color: green;
}
.highlight{
    color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 80%;
}